name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build-bin.yaml

  test:
    uses: ./.github/workflows/test-bin.yaml

  release:
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v8
      with:
        path: artifacts

    - uses: softprops/action-gh-release@v2
      with:
        files: artifacts/**/*
        name: Release ${{ github.ref_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
